NEXT_PUBLIC_API_BASE_URL=<base_url_here>
NEXT_PUBLIC_AUTH_ME=<auth_me_endpoint>
NEXT_PUBLIC_AUTH_LOGOUT=<logout_endpoint>
NEXT_PUBLIC_DEFAULT_DEVICE=<default_device_id>
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=<recaptcha_site_key>
