MQTT_BROKER=<mqtt_broker_url>
MQTT_PORT=<mqtt_broker_port_number>
MQTT_PROTOCOL=<mqtt_broker_protocol>

MQTT_USERNAME=<mqtt_broker_username>
MQTT_PASSWORD=<mqtt_broker_password>

GPS_TOPIC=<topic_you_generated_on_broker>

SECRET_KEY=<jwt_secret_key>
JWT_ALGORITHM=<algorithm_hsa256_or_smth>
ACCESS_TOKEN_EXPIRE_MINUTES=<minutes>

RECAPTCHA_SECRET=<recaptcha_secret_key>