@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Science Gothic", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

:root,
body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #111827, #020617);
  color: #e5e7eb;
}

a {
  text-decoration: none !important;
}