TYB_IOT_CONNECTION_STRING=Host=localhost;Port=5432;Database=trackyourbest;Username=postgres;Password=change-me;Ssl Mode=Disable
Mqtt__Host=localhost
Mqtt__Port=1883
Mqtt__Username=
Mqtt__Password=
Mqtt__ClientId=TYB.IoTService
